.root {
    display: block;
    max-width: 100%;
    margin: auto;
    padding-top: 40px;
}

.tableWrapper {
    max-width: 1080px;
    width: 100%;
    margin: auto auto 50px;
}

.table {
    width: 100%;
}

.table th:first-child {
    font-weight: 500;
    font-size: 16px;
    color: #303030;
    letter-spacing: 0.4px;
    text-align: left;
}

.table th:nth-child(2),
.table th:nth-child(3),
.table th:nth-child(4),
.table td:nth-child(2),
.table td:nth-child(3),
.table td:nth-child(4) {
    width: 230px;
    text-align: center;
    padding: 0 10px;
}

.table th {
    font-weight: normal;
    font-size: 16px;
    color: #303030;
    padding: 30px 10px;
}

.table td:first-child {
    text-align: left;
}

.table td {
    font-weight: 100;
    font-size: 14px;
    color: #606060;
    padding: 10px;
    text-align: center;
}

.table tbody tr {
    transition: .2s all ease-out;
}

.table tbody tr:hover {
    background: #f5f5f5;
}

.table .emptyRow:hover {
    background: none;
}

.grey {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: url("./images/grey.png") no-repeat 50% 50%;
}

.green {
    display: block;
    width: 20px;
    height: 20px;
    margin: auto;
    background: #ff9f89;
    border-radius: 50%;
}

.green:after {
    content: "";
    display: inline-block;
    border-bottom: 1px solid #fff;
    border-right: 1px solid #fff;
    transform: rotate(45deg);
    width: 6px;
    height: 9px;
    margin: 2px;
}

.additional {
    width: 1080px;
    max-width: 100%;
    margin: 100px auto auto;
}

.advantages {
    padding-top: 50px;
}

.hint {
    font-style: italic;
    display: inline-block;
    vertical-align: super;
    color: #aaa;
    font-weight: 100;
}

.additionalServices {
    font-weight: 100;
    font-size: 14px;
    color: #606060;
    padding: 10px;
}

.advantagesHeader, .additionalHeader {
    font-weight: 100;
    font-size: 28px;
    color: #303030;
    letter-spacing: 0;
    text-align: center;
    margin: auto auto 50px;
}

.advantagesImages {
    display: block;
    margin: auto;
    text-align: center;
    padding: 0 0 150px 0;
}

.advantagesImageWrap {
    display: inline-block;
    vertical-align: top;
    width: 200px;
    height: 200px;
    margin: 20px;
    font-weight: 100;
}

.advantagesImageAudio, .advantagesImageAuto, .advantagesImageModern, .advantagesImageWorld {
    display: inline-block;
    width: 200px;
    height: 100px;
    vertical-align: middle;
}

.advantagesImageModern {
    background: url("./images/modern.png") no-repeat 50% 50%;
}

.advantagesImageAudio {
    background: url("./images/audio.png") no-repeat 50% 50%;
}

.advantagesImageAuto {
    background: url("./images/auto.png") no-repeat 50% 50%;
}

.advantagesImageWorld {
    background: url("./images/world.png") no-repeat 50% 50%;
}

@media screen and (max-width: 980px) {
    .root {
        padding-top: 10px;
    }
}

@media screen and (max-width: 500px) {

    .table td:first-child {
        font-size: 10px;
    }

    .table th:first-child, .table th {
        font-size: 10px;
    }

    .table td {
        padding: 10px 0 10px 5px;
        word-break: break-word;
    }
}