.cssload_container {
    width: 81px;
    margin: auto;
    padding-top: 250px;
}

.cssload_circle {
    height: 61px;
    width: 61px;
    border: 1px solid #222222;
}

.cssload_circle {
    border-bottom: none;
    border-radius: 50%;
    box-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
    animation-name: cssload-spin;
    animation-duration: 2600ms;
    animation-iteration-count: infinite;
    animation-timing-function: linear;
}

@keyframes cssload-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}