.wrap {
    display: block;
    width: 100%;
}

.link {
    margin-right: 40px;
    transition: .2s color ease-out;
    text-align: left;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    line-height: 80px;
    font-size: 14px;
    color: #4b4949;
    letter-spacing: 0.18px;
    font-weight: 100;
    border-bottom: 4px solid transparent;
}

.link:last-child {
    margin-right: 0;
}

.activeLink {
    position: relative;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    border-bottom: 4px solid #838181;
}

.socials {
    display: inline-block;
    vertical-align: middle;
}

@media screen and (max-width: 768px) {
    .socials {
        display: block;
        padding: 10px 0 30px 0;
    }

    .link {
        font-size: 12px;
        border: none;
    }

    .activeLink {
        border: none;
        background-color: #ff9f89;
        color: #fff;
    }

    .wrap {
        text-align: center;
    }

    .link {
        display: block;
        height: auto;
        width: 100%;
        font-size: 16px;
        line-height: 40px;
        padding: 0;
        font-weight: 300;
        text-align: center;
    }
}
