.root {
    display: block;
    width: 100%;
    margin: auto;
    max-width: 100%;
    text-align: center;
}

.wrapper {
    margin: auto;
    max-width: 100%;
}

.video {
    max-width: 100%;
}

.video video {
    min-width: 100%;
    max-width: 100%;
}

.reviewsWrapper {
    margin-top: 125px;
}

.reviewsHeader {
    padding-top: 60px;
    font-weight: 100;
    font-size: 28px;
    color: #303030;
    letter-spacing: 0;
    text-align: center;
}

.buttonWrapper {
    margin-top: 50px;
}

.buttonOrange {
    position: relative;
    display: inline-block;
    line-height: 48px;
    background: #f87933;
    border-radius: 2px;
    padding: 0 40px;
    height: 48px;
    text-align: center;
    font-size: 14px;
    color: #ffffff;
    letter-spacing: 0.07px;
    border: none;
    transition: .2s all ease-out;
}

.buttonOrange:before {
    position: absolute;
    left: 7px;
    bottom: 7px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-left: 1px solid #fff;
    border-bottom: 1px solid #fff;
}

.buttonOrange:after {
    position: absolute;
    right: 7px;
    top: 7px;
    content: "";
    display: block;
    width: 10px;
    height: 10px;
    border: none;
    border-right: 1px solid #fff;
    border-top: 1px solid #fff;
}

.buttonOrange:hover {
    background: #ff8736;
}

.previewPortfolio {
    margin: 60px auto 50px;
    text-align: center;
}

.previewVideo1, .previewVideo2, .previewVideo3 {
    position: relative;
    width: 340px;
    height: 141px;
    display: inline-block;
    background-size: cover;
    margin-right: 30px;
    transition: .3s all ease;
    cursor: pointer;
}

.previewVideo1:after,
.previewVideo2:after,
.previewVideo3:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    transition: .2s all ease;
    background: transparent url("./images/play.png") no-repeat 50% 50%;
    opacity: .7;
}

.previewVideo1:hover:after,
.previewVideo2:hover:after,
.previewVideo3:hover:after {
    background-color: rgba(34, 34, 34, .5);
    opacity: 1;
}

.previewVideo1 {
    background: url("./images/Ivan_i_Anna.jpg") no-repeat;
}

.previewVideo2 {
    background: url("./images/Kristina_i_Mikhail.jpg") no-repeat;
}

.previewVideo3 {
    background: url("./images/Liza_i_Sasha.jpg") no-repeat;
    margin-right: 0px;
}

.previewVideo {
    box-sizing: border-box;
    width: 1080px;
    max-width: 100%;
    padding: 60px;
    transition: .2s all ease;
}

.previewVideo iframe {
    max-width: 100%;
}

.actions {
    padding: 0 0 60px 0;
}

@media screen and (max-width: 1100px) {
    .previewVideo {
        width: 800px;
    }

    .previewVideo1, .previewVideo2, .previewVideo3 {
        display: block;
        margin: auto auto 20px;
    }
}

@media screen and (max-width: 800px) {
    .previewVideo {
        width: 500px;
    }

    .header {
        font-size: 1em;
    }
}