.soc {
    display: inline-block;
}

.vk, .facebook, .instagram, .vimeo {
    cursor: pointer;
    display: inline-block;
    width: 24px;
    height: 24px;
    vertical-align: middle;
    margin-right: 20px;
    opacity: .9;
    transition: .2s all ease-out;
}

.vk:hover, .facebook:hover, .instagram:hover, .vimeo:hover {
    opacity: 1;
}

.vk {
    background: transparent url("./images/vk.svg") no-repeat 50% 50%;
}

.facebook {
    background: transparent url("./images/facebook.svg") no-repeat 50% 50%;
}

.instagram {
    background: transparent url("./images/instagram.svg") no-repeat 50% 50%;
}

.vimeo {
    background: transparent url("./images/vimeo.svg") no-repeat 50% 50%;
    margin-right: 0;
}
